In [1]:
#Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\melug\OneDrive\Escritorio\CLIENTES\2021_trim_1.xls', header=[5, 6, 7], skipfooter=16)
df.tail(3)

In [4]:
df['Enero - Marzo  2021'].head()

In [5]:
valores = df['Enero - Marzo  2021'].droplevel(level=0, axis=1)
valores.head()

In [7]:
valores = valores.dropna(subset=['Total', 'Hombres', 'Mujeres'])
valores.head()

In [10]:
valores = valores.rename_axis(index=['nivel_1', 'nivel_2', 'nivel_3', 'nivel_4'], columns=['sexo'])\
                .rename(lambda x: 'Total' if pd.isna(x) else x)

valores.head()

In [11]:
pea = valores.loc[('2. Población de 15 años y más', 'Población económicamente activa (PEA)')]
pea

In [12]:
pea.droplevel(1)\
    .T\
    .add_prefix('poblacion_')\
    .reset_index()

In [14]:
pea_sur = pd.concat([obtiene_pea(e) for e in ['BA_1', 'Sa_1', 'Ju_1', 'Ca_1', 'Qui_1', 'Co_1']], ignore_index=True)
pea_sur